div.category a {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
    color: #1499c3;
    line-height: 20px;
}

div.sub-category a {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
    color: #222222;
    line-height: 18px;
}

div.sub-category {
    margin-bottom: 20px;
}

.sub-category {
    margin-bottom: 30px;
}

.close_img{
    background: black none repeat scroll 0 0;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
    position: absolute;
    right: 0;
}

.video_close_img {
    background: #777 none repeat scroll 0 0;
    color: white;
    cursor: pointer;
    padding: 6px 8px;
    position: absolute;
    right: 0;
}

.uploadedImg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.upload-image-thumbs li.upload-image {
    cursor: pointer;
    background-color: #f5f5f4;
    background-image: url(/static/img/add_picture.png);
}
.upload-image-thumbs li {
    background-color: #f5f5f4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    display: block;
    float: left;
    height: 99px;
    list-style: outside none none;
    margin: 0.5em 1em 0.5em 0;
    position: relative;
    width: 99px;
}
.loader_img {
  background-image: url("/static/img/loader.gif") !important;
}

.image-responsive {
    display: block;
    max-width: 100%;
    height: 100%;    
}

.username_on_detail {
    display: block;
    line-height: 19px;
    font-size: 15px;
    color: #222222;
}

.email_to_friend {
    color: #64B7E7;
    margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.femail_body input {
    height: 30px;
    margin-bottom: 10px;
    /*width: 240px;*/
    padding: 0 8px;
}

.femail_body label {
    padding: 0;
    margin-top: 3px;
    margin-bottom: 2px; 
}

.femail_body button {
    /*margin-left: 154px;*/
    /*width: 100px;*/
    background-color: #f0eeee;
}

.btn-reply {
    margin-left: 30px; 
    margin-top: -41px; 
    background-color: #f0eeee;
}

.reply-post {
    padding: 20px;
}

.reply-post label {
    width: 110px;
}

.reply-post input {
    height: 30px;
    margin-bottom: 10px;
    width: 240px;
    padding: 0 8px;
}

.reply-post textarea {
    width: 100%;
    height: 160px;
    margin: 12px 0;
    padding: 8px;
}

.reply-post button {
    /*margin-left: 154px;*/
    width: 100px;
    background-color: #f0eeee;
}

.highcharts-legend-item.highcharts-undefined-series.highcharts-color-undefined {
    display: none;
}

.highcharts-credits {
    display: none;
}

#search_ads {
    line-height: 17px;
}

div.favourite {
    color: #64B7E7;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

div.favourite.like {
    color: red;
}

.favourite .fa-heart {
    color: red;
    display: none;
}

.favourite .fa-heart-o {
    display: inline-block;
}

.favourite.like .fa-heart {
    display: inline-block;
}

.favourite.like .fa-heart-o {
    display: none;
}

.title h3 {
    overflow: hidden;
    max-height: 34px;
    padding-right: 5px;
}

.title {
    margin-top: 20px !important;    
}

.actions i {
    padding: 3px 5px;
    font-size: 20px;
}

.linkedin a {
    background-color: rgb(5, 108, 151);
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    padding: 8px 22px;
}

.linkedin a:hover, .facebook a:hover {
    color: white;
}

.facebook a {
    background-color: rgb(59, 89, 152);
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    padding: 8px 22px;
}

.auth-header {
    padding: 30px 10px;
}

.secondaryAction {
    margin-left: 20px;
}

.container.auth {
    font-size: 16px;
}

.primaryAction {
    font-size: 16px;
    padding: 8px 22px;
}

.login {
    padding: 10px;
}

.login label {
    text-align: left !important;
    padding: 8px 15px;
}

.auth-text {
    font-size: 17px;
    padding: 10px;
    line-height: 24px;
}

.error {
    color: red;
    font-size: 17px;
    line-height: 24px;
    padding-top: 15px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.c-green {
    color: green;
}

.verify_phone {
    margin: 8px 0;
    margin-right: 10px;
}

input.verify_code {
    display: inline-block;
    width: 80px;
    margin: 8px;    
    margin-left: 0;
}

.price-note {
    color: #5bc0de;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
}

.camp_category option {
    padding: 3px 10px;
    color: #777;
}

.camp_category option.main {
    padding: 15px 3px 5px 3px;
    color: black;
}

.video-frame {
    padding: 20px 0;
}

#perks_region .perk_pannel {
    border: 1px dashed;
    margin-bottom: 20px;    
}

.campaign-card {
    border: #bbb 1px solid;
    margin-bottom: 20px;
    color: #777;
}

.campaign-card:hover {
    border: 1px solid #a8a8a8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.campaign-card .overview {
    height: 30vh; 
    width: 100%;
}

.campaign-card .card-body {
    padding: 10px;
}

.campaign-card .ctitle {
    color: black;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
    height: 36px;
    overflow: hidden;
    line-height: 20px;    
}

.campaign-card .tagline {
    color: #777;
    font-size: 16px;
    margin-bottom: 18px;
    height: 36px;
    overflow: hidden;
    line-height: 18px;    
}

.campaign-card .category {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 18px;    
}

.campaign-card .budget {
    font-size: 13px;
}

.campaign-card .budget span.raised {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.campaign-card .budget span.percent {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    float: right;
}

.campaign-card .camp-link {
    color: #337ab7;
    margin: 11px 0;
}

#myProgress {
    width: 100%;
    background-color: #ccc;
    height: 10px;
    border-radius: 5px;   
    margin: 10px 0; 
}

#myBar {
    background-color: #5bc0de;
    height: 10px;
    border-radius: 5px;    
}

.campaign-detail {
    padding: 5px 18px;
}

.campaign-detail .ctitle {
    color: black;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 35px;  
    padding-top: 5px;      
}

.campaign-detail .tagline {
    color: #777;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 32px;        
}


.campaign-detail .budget {
    font-size: 16px;
}

.campaign-detail .duration {
    font-size: 16px;
}

.campaign-detail .budget span.raised {
    font-size: 19px;
    font-weight: 500;
    color: black;
}

.campaign-detail .duration span.percent {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    /*float: right;*/
}

.campaign-detail .duration span.left-days {
    font-size: 17px;
    font-weight: 400;
    color: #333;
    float: right;
}

.btn-donate {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 30px;
    color: white;
    background-color: #5bc0de;
    border: 2px solid #5bc0de;
    border-radius: 2px;    
}

.btn-donate:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.cheader {
    font-size: 16px;
}

.cheader.ext {
    font-size: 17px;
    font-weight: 600;
    color: #eb1478;
    margin-top: 25px;
}

.campaign-detail .overview {
    font-size: 15px;
    line-height: 20px;    
}

.perk-card {
    border: #bbb 1px solid;
    margin-bottom: 20px;
    color: #777;
    padding: 10px;
}

.perk-card:hover {
    border: 1px solid #a8a8a8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.perk-card .price
{
    padding-top: 18px;
    font-size: 18px;
}

.perk-card .price span {
    font-size: 20px;
    font-weight: 700;
    color: black;    
}

.perk-card .ctitle {
    font-size: 21px;
    color: #333;
}

.perk-card .overview {
    font-size: 16px;
}

.perk-card .num_claimed {
    font-weight: 500;
    padding: 10px 0;
    color: #555;
    font-size: 17px;
}

.perk-card .btn-perk {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 30px;
    color: white;
    background-color: #5bc0de;
    border: 2px solid #5bc0de;
    border-radius: 2px;    
    text-align: center;
    cursor: pointer;    
}

.perk-card .btn-perk:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #5bc0de;
}

.product-text {
    margin-bottom: 25px;
}

.camp-filter-bar .camp_category {
    height: 40px;
}

.perk-modal .modal-title {
    color: #5bc0de;
    font-size: 22px;
}

#result-modal .modal-title {
    color: #5bc0de;
    font-size: 22px;
}

.perk-modal .modal-price {
    margin-bottom: 20px;
    font-size: 16px;    
}

.perk-modal .modal-price b {
    font-size: 19px;
}

.perk-modal label {
    font-size: 16px;
    color: #555;
}

.perk-modal small {
    display: block;
    padding: 10px 0px;
}

#btn-pay {
    background-color: #5bc0de;   
    color: white;
    font-weight: 500;
}

.product-text img {
    max-width: 100%;
    height: auto;
}

.su-title {
    font-size: 35px;
    padding: 20px 0;
}

.su-joined {
    font-size: 18px;
    padding-bottom: 11px;
    font-weight: 500;    
}

.su-desc {
    font-size: 18px;
    line-height: 24px;    
}

.rv-title {
    font-size: 26px;
    padding: 20px 0;
}

.rv-avatar {
    width: 100%;
    padding: 10px;
}

.rv-rater {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.rv-content {
    font-size: 17px;
    line-height: 22px;
    padding: 10px;
}

.rv-created {
    padding: 10px;
    font-weight: 500;
}

.ht-verify {
    line-height: 30px;
    font-size: 17px;
}

.ht-verify .fa {
    margin-top: 7px;
}

.rv-category {
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    padding: 10px;
    color: #5bc0de;
}

.rv-ptitle {
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .col-md-24 {
        margin-left: 10%;
    }
}

@media screen and (min-width: 1024px){
    .col-md-24 {
        width: 20%;
    }

    .sub-category.row1 {
        min-height: 600px;
    }
}

@media screen and (max-width: 768px){
    .my-ads small {
        display: block;
        margin-top: 10px;
    }
}