div.category a {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
    color: #1499c3;
    line-height: 20px;
}

div.sub-category a {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
    color: #222222;
    line-height: 18px;
}

div.sub-category {
    margin-bottom: 20px;
}

.category.row2 {
    position: absolute;
    top: 600px;
}

.sub-category.row2 {
    position: absolute;
    top: 624px;
}

.close_img{
    background: black none repeat scroll 0 0;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
    position: absolute;
    right: 0;
}

.video_close_img {
    background: #777 none repeat scroll 0 0;
    color: white;
    cursor: pointer;
    padding: 6px 8px;
    position: absolute;
    right: 0;
}

.uploadedImg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.upload-image-thumbs li.upload-image {
    cursor: pointer;
    background-color: #f5f5f4;
    /*background-image: url(http://gumtree.classistatic.com/RC-4b815836bb48ed24646d0e3b8614589a18fefff4/legacy/add-picture-on.svg);*/
}
.upload-image-thumbs li {
    background-color: #f5f5f4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    display: block;
    float: left;
    height: 99px;
    list-style: outside none none;
    margin: 0.5em 1em 0.5em 0;
    position: relative;
    width: 99px;
}
.loader_img {
  background-image: url("/static/img/loader.gif") !important;
}

.image-responsive {
    display: block;
    max-width: 100%;
    height: 100%;    
}

.username_on_detail {
    display: block;
    line-height: 19px;
    font-size: 15px;
    color: #222222;
}

.email_to_friend {
    color: #64B7E7;
    margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.femail_body input {
    height: 30px;
    margin-bottom: 10px;
    /*width: 240px;*/
    padding: 0 8px;
}

.femail_body label {
    padding: 0;
    margin-top: 3px;
    margin-bottom: 2px; 
}

.femail_body button {
    /*margin-left: 154px;*/
    /*width: 100px;*/
    background-color: #f0eeee;
}

.btn-reply {
    margin-left: 30px; 
    margin-top: -25px; 
    background-color: #f0eeee;
}

.reply-post {
    padding: 20px;
}

.reply-post label {
    width: 110px;
}

.reply-post input {
    height: 30px;
    margin-bottom: 10px;
    width: 240px;
    padding: 0 8px;
}

.reply-post textarea {
    width: 100%;
    height: 160px;
    margin: 12px 0;
    padding: 8px;
}

.reply-post button {
    /*margin-left: 154px;*/
    width: 100px;
    background-color: #f0eeee;
}

.highcharts-legend-item.highcharts-undefined-series.highcharts-color-undefined {
    display: none;
}

.highcharts-credits {
    display: none;
}

#search_ads {
    line-height: 17px;
}

div.favourite {
    color: #64B7E7;
    cursor: pointer;
    font-size: 16px;
}

div.favourite.like {
    color: red;
}

.favourite .fa-heart {
    color: red;
    display: none;
}

.favourite .fa-heart-o {
    display: inline-block;
}

.favourite.like .fa-heart {
    display: inline-block;
}

.favourite.like .fa-heart-o {
    display: none;
}

.title h3 {
    overflow: hidden;
    max-height: 34px;
    padding-right: 5px;
}

.title {
    margin-top: 20px !important;    
}

.actions i {
    padding: 3px 5px;
    font-size: 20px;
}

.linkedin a {
    background-color: rgb(5, 108, 151);
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    padding: 8px 22px;
}

.linkedin a:hover, .facebook a:hover {
    color: white;
}

.facebook a {
    background-color: rgb(59, 89, 152);
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    padding: 8px 22px;
}

.auth-header {
    padding: 30px 10px;
}

.secondaryAction {
    margin-left: 20px;
}

.container.auth {
    font-size: 16px;
}

.primaryAction {
    font-size: 16px;
    padding: 8px 22px;
}

.login {
    padding: 10px;
}

.login label {
    text-align: left !important;
    padding: 8px 15px;
}

.auth-text {
    font-size: 17px;
    padding: 10px;
    line-height: 24px;
}

.error {
    color: red;
    font-size: 17px;
    line-height: 24px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.c-green {
    color: green;
}

.verify_phone {
    margin: 8px 0;
    margin-right: 10px;
}

input.verify_code {
    display: inline-block;
    width: 80px;
    margin: 8px;    
    margin-left: 0;
}

.price-note {
    color: #5bc0de;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
}

.camp_category option {
    padding: 3px 10px;
    color: #777;
}

.camp_category option.main {
    padding: 15px 3px 5px 3px;
    color: black;
}

.video-frame {
    padding: 20px 0;
}

#perks_region .perk_pannel {
    border: 1px dashed;
    margin-bottom: 20px;    
}