div.category a {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
    color: #1499c3;
    line-height: 20px;
}

div.sub-category a {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
    color: #222222;
    line-height: 18px;
}

div.sub-category {
	margin-bottom: 50px;
}

.close_img{
    background: black none repeat scroll 0 0;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
    position: absolute;
    right: 0;
}
.uploadedImg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.upload-image-thumbs li.upload-image {
    cursor: pointer;
    background-color: #f5f5f4;
    /*background-image: url(http://gumtree.classistatic.com/RC-4b815836bb48ed24646d0e3b8614589a18fefff4/legacy/add-picture-on.svg);*/
}
.upload-image-thumbs li {
    background-color: #f5f5f4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    display: block;
    float: left;
    height: 99px;
    list-style: outside none none;
    margin: 0.5em 1em 0.5em 0;
    position: relative;
    width: 99px;
}
.loader_img {
  background-image: url("/static/img/loader.gif") !important;
}

.image-responsive {
    display: block;
    max-width: 100%;
    height: 100%;    
}

.username_on_detail {
    display: block;
    line-height: 19px;
    font-size: 15px;
    color: #222222;
}

.email_to_friend {
    color: #64B7E7;
    margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}