.admin-content-menu-and-content-section {
    /*display: flex;*/
    background-color: #F3F3F3;
    position: absolute;
    width: 100%;
    min-height: 100%;
}
.col-sm-12.full-h{
	min-height: calc(100% - 113px);
}
.content-right-content.my-ads{
	padding: 40px 40px;
    min-height: calc(100% - 25px);
    position: absolute;
    width: calc(100% - 25px);
}
.content-right-content.my-ads h2 {
    border-bottom: 1px solid #eeeeee;
/*    font-family: "Raleway-Thin";*/
    font-size: 25px;
/*    font-weight: 400;*/
    margin: 0 0 30px 15px;
    padding: 0 0 10px;
    text-align: left;
    /*text-shadow: 0 0 1px rgba(0, 0, 0, 0.34);*/
    text-transform: none;
}
.content-right-content.my-ads .ads_search{

	position: relative;
}
.content-right-content.my-ads .ads_search input{
	padding: 8px 15px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #EAEAEA;
    font-size: 17px;
    /*font-weight: 100;*/
    /*margin: 15px 0px;*/
    outline: none;
}
.content-right-content.my-ads .ads_search input::-webkit-input-placeholder {color:rgb(225, 225, 225); text-shadow: 0px 0px 1px;}
.content-right-content.my-ads .ads_search input::-moz-placeholder          {color:rgb(225, 225, 225); text-shadow: 0px 0px 1px;}
.content-right-content.my-ads .ads_search input:-moz-placeholder           {color:rgb(225, 225, 225); text-shadow: 0px 0px 1px;}
.content-right-content.my-ads .ads_search input:-ms-input-placeholder      {color:rgb(225, 225, 225); text-shadow: 0px 0px 1px;}
.content-right-content.my-ads .ads_search.search:after{
	content: '';
    background-image: url(../img/search.png);
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2%;
    top: 10px;
}
.content-right-content .ads_list{

}
.content-right-content .ads_list .ads_add{
	width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: block;
	box-sizing: content-box;
	cursor:pointer;
}
.content-right-content .ads_list .ads_add .photo{
    width: 80px;
    height: 80px;
    border: 2px dashed #CCCCCC;
    display: block;
    margin: 10px;
	position: relative;
    float: left;
	cursor:pointer;
}
.content-right-content .ads_list .ads_add .photo:before{
    content: '';
    width: 18px;
    height: 2px;
    background: #CCCCCC;
    position: absolute;
    box-shadow: 0px 0px 1px 0px;
    left: calc(50% - 9px);
    top: calc(50% - 1px);
}
.content-right-content .ads_list .ads_add .photo:after{
	content: '';
    width: 2px;
    height: 18px;
    background: #CCCCCC;
    position: absolute;
    box-shadow: 0px 0px 1px 0px;
    left: calc(50% - 1px);
    top: calc(50% - 9px);
}

.content-right-content .ads_list .ads_add .text{
	color: rgb(204, 204, 204);
    text-shadow: 0px 0px 1px;
    letter-spacing: 2px;
    font-weight: 300;
    position: relative;
    float: left;
/*    font-family: "Raleway-Thin";*/
    margin: 43px 10px;
}
.content-right-content .ads_list .my_add{
	width: 100%;
    height: 100px;
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    box-sizing: content-box;
}
.content-right-content .ads_list .my_add .photo{
	/*background-image:url(../img/ad_item_larg_3.png);*/
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	width: 80px;
    height: 80px;
    display: block;
    margin: 10px;
    position: relative;
    float: left;
    cursor: pointer;
}


@media (max-width: 600px)
{
	.content-right-content .ads_list .my_add .photo{
    	width: 30%;
    }

    .content-right-content.my-ads{
        padding: 40px 0px;
    }

    .content-right-content.my-ads .ads_search.search:after{
        content: '';
        background-image: url(../img/search.png);
        position: absolute;
        width: 16px;
        height: 16px;
        right: 6%;
        top: 16px;
    }
}

.content-right-content .ads_list .my_add .title{
	position: relative;
    float: left;
    height: 42px;
    margin: 29px 10px;
}
.content-right-content .ads_list .my_add .title h3{
    font-size: 16px;
    text-align: left;
    color: #484848;
    letter-spacing: 1px;
    margin: 0px 0px 13px;
    /*text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.48);*/
    font-weight: 500;
}
.content-right-content .ads_list .my_add .title h3 a{
    color: #484848;
}
.content-right-content .ads_list .my_add .title span{
	color: #919191;
    font-size: 12px;
    font-weight: 300;
    text-shadow: 0px 0px 1px rgba(145, 145, 145, 0.15);
}
.content-right-content .ads_list .my_add .price{
	position: relative;
    /*float: right;*/
    font-size: 16px;
    color: #484848;
    /*font-weight: 100;*/
    letter-spacing: 1px;
    /*margin: 29px 10px 10px;*/
    width: 220px;
    text-align: center;
    /*text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.48);*/
}
.content-right-content .ads_list .my_add .actions{
	position: relative;
    float: right;
    width: 150px;
    margin: 43px 10px;
}
.content-right-content .ads_list .my_add .actions .status{
    color: #4DBEE2;
    font-size: 12px;
    /*font-weight: lighter;*/
    /*text-shadow: 0px 0px 1px rgba(145, 145, 145, 0.44);*/
    position: relative;
    float: left;
    width: 42px;
    padding-right: 20px;
    box-sizing: content-box;
	margin-right: 12px;
	cursor: pointer;
}
.content-right-content .ads_list .my_add .actions .status:after{
	content: '';
    position: absolute;
    border-bottom: 0px;
    border-top: 6px solid #CCCCCC;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    right: 0px;
    top: 3px;
}
.content-right-content .ads_list .my_add .actions .status:focus,.content-right-content .ads_list .my_add .actions .status:hover,.content-right-content .ads_list .my_add .actions .status:active{
	background-color: transparent!important;
	outline: none!important;
	border: 0px!important;
}
.content-right-content .ads_list .my_add .actions .edit{
	background-image:url(../img/edit.png);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 13px;
    float: left;
    position: relative;
    margin: 0px 12px;
	cursor: pointer;
}
.content-right-content .ads_list .my_add .actions .delete{
	background-image: url(../img/delete.png);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 15px;
    float: left;
    position: relative;
    top: -3px;
    margin: 0px 12px;
	cursor: pointer;
}
.edit-profile{
    margin-bottom: 25px !important;
    display: inline-block;
    width: 100%;
}
.edit-profile label {
    color: #7c7c7c;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
}
.content-right-content.my-ads h2.description-title {
    border-bottom: 1px solid #eeeeee;
    margin: 50px 0 20px;
    padding-bottom: 10px;
}
.update-btn {
    border-color: #4dbee2;
    box-shadow: 0 0 11px rgba(91, 192, 222, 0.6);
    color: #ffffff;
    width: 130px;
}
.upload-btn, .my-ads .pages .page .change_pass, .update-btn {
    border-radius: 5px;
    font-size: 16px;
    /*font-weight: 600;*/
    height: 50px;
    line-height: 48px;
    padding: 0;
    transition: all 0.2s ease 0s;
}
.update-btn:hover {
    background: #ffffff none repeat scroll 0 0;
    border-color: #4dbee2;
    box-shadow: none;
    color: #4dbee2;
}
