{% extends "base.html" %}
{% load staticfiles %}

{% block page_body %}
    <div class="card" style="height: 100vh;">                       
        <div class="card-body" style="color: rgb(0,0,238)">
            <div class="row">
                <div class="col-md-2 p-r-0">
                <div class="col-md-12 leftbar">
                    <h3 class="m-b-20"><a>craigslist</a></h3>
                    <ul class="leftlinks">
                        <li><a href="/add_post">post to classifieds</a></li>
                        <li><a href="/account">my account</a></li>
                    </ul>
                    <label class="m-t-15">search craigslist</label>
                    <input></input>

                    <label class="m-t-10">event calendar</label>
                    <table class="cal m-b-15">
                        <tr class="days">
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>T</th>
                                <th>F</th>
                                <th>S</th>
                                <th>S</th>
                        </tr>
                        <tr>
                                <td class="today "><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-06">6</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-07">7</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-08">8</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-09">9</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-10">10</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-11">11</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-12">12</a></td>
                        </tr>
                        <tr>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-13">13</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-14">14</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-15">15</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-16">16</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-17">17</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-18">18</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-19">19</a></td>
                        </tr>
                        <tr>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-20">20</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-21">21</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-22">22</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-23">23</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-24">24</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-25">25</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-26">26</a></td>
                        </tr>
                        <tr>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-27">27</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-28">28</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-29">29</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-11-30">30</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-12-01">1</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-12-02">2</a></td>
                                <td class=""><a href="//shanghai.craigslist.com.cn/d/events-classes/search/eee?lang=en&amp;cc=us&amp;sale_date=2017-12-03">3</a></td>
                        </tr>
                    </table>

                    <ul class="leftlinks">
                        <li>help, faq, abuse, legal</li>
                        <li>avoid scams &nbsp; fraud</li>
                        <li>personal safety tips</li>
                        <li>terms of use</li>
                        <li>privacy policy</li>
                        <li>system status</li>
                        <li>&nbsp;</li>
                        <li>about craigslist</li>
                        <li>craigslist open source</li>
                        <li>craigslist blog</li>
                        <li>best-of-craigslist</li>
                        <li>craigslist TV</li>
                        <li>"craigslist joe"</li>
                        <li>craig connects</li>                                        
                    </ul>
                </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 topban">
                                <h2>Canada</h2>
                            </div>
                        </div>
                        {% for mmc in categories %}
                            <div class="col-md-4">
                                {% for mc in mmc %}
                                    <div class="col-md-12 p-0">
                                    <div class="category">{{ mc.0 }}</div>
                                    {% for cc in mc.2 %}
                                        {% if mc.1 == 1 %}
                                            <div class="col-md-12">
                                                {{ cc }}
                                            </div>
                                        {% else %}
                                            <div class="col-md-6">
                                                <a href="/posts">{{ cc }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2">
                <div class="col-md-12 leftbar">
                    <select class="m-t-20 m-b-10">
                        <option>English</option>
                        <option>English</option>
                    </select>
                    <ul class="leftlinks">
                        <li>cl worldwide</li>
                        <li>africa</li>
                        <li>americas</li>
                        <li>asia</li>
                        <li>europe</li>
                        <li>middle east</li>
                        <li>oceania</li>                                        
                    </ul>
                </div>
                </div>
        	</div>
        </div>
    </div>
{% endblock %}