{% load humanize %}
{% load extra %}

{% for post in campaigns %}
<div class="col-md-3">
    <a href="/campaigns/{{ post.id }}">
    <div class="campaign-card">        
        <img src="/static/media/{{ post.over_image }}" class="overview" />
        <div class="card-body">
            <div class="ctitle">{{ post.title }}</div>
            <div class="tagline">{{ post.tagline }}</div>
            <div class="category">{{ post.category.name }}</div>
            <div class="budget">
                <span class="raised">${{ post.raised|intcomma }}</span> USD raised
                <span class="percent">{{ post|raised_percent }}%</span>
            </div>
            <div id="myProgress">
                <div id="myBar" style="width: {{ post|raised_percent:1 }}%;"></div>
            </div>            
            <div class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ post|ramained_days }} days left
            </div>
            <div class="camp-link">{{ request.get_host }}/campaigns/{{ post.id }}</div>
        </div>
    </div>
    </a>
</div>
{% endfor %}  