{% for mmc in categories %}
    <div class="col-md-24 col-xs-11">
        {% for mc in mmc %}
            <div class="category row{{forloop.counter}}"><a href="javascript:void();">{{ mc.0.name }}</a></div>
            <div class="sub-category row{{forloop.counter}}">
            {% for cc in mc.1 %}
                {% if cc.category_set.all %}
                    <a href="javascript:void();">{{ cc.name }}</a>
                    {% for ccc in cc.category_set.all %}
                        <a href="/category-ads/{{ ccc.id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ ccc.name }}</a>
                    {% endfor %}
                {% else %}
                    <a href="/category-ads/{{ cc.id }}">{{ cc.name }}</a>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}