{% for post in posts %}
<div class="my_add">
    <div>
        <img class="photo" src="/static/media/{{ post.1 }}">
    </div>
    <div class="title">
        <h3><a href="/ads/{{ post.0.id }}"> {{ post.0.title }} </a></h3>
        <span>Posted on {{ post.0.created_at }}</span>
    </div>
    <div class="pull-right">
        <div class="price">$60/month</div>
        <div class="actions">
            <select data-value="{{ post.0.id }}" class="active_deactive status">
                <option value="active" {% if post.0.status == 'active' %} selected {% endif %}>Active</option>
                <option value="deactive" {% if post.0.status == 'deactive' %} selected {% endif %}>Deactive</option>
            </select>
            <a href="/ads-edit/{{ post.0.id }}"><div class="edit"></div></a>
            <a class="ads_post_delete" data-value="{{ post.0.id }}"><div class="delete"></div></a>                        
        </div>
    </div>
</div>
{% endfor %}  