{% for post in posts %}
<div class="my_add col-md-12 col-xs-12">
    <div class="col-xs-12 col-md-9 title no-padding">
        <a href="/ads/{{ post.0.id }}">
            <img class="photo" src="/static/media/{{ post.1 }}">
            <h3>{{ post.0.title }}</h3>
            <span>Posted on {{ post.0.created_at|date:'m/d/Y' }}</span>
        </a>
    </div>
    {% if not others %}
        <div class="col-md-3">
            <!-- <div class="price">$60/month</div> -->
            <div class="actions">
                <select data-value="{{ post.0.id }}" class="active_deactive status form-control">
                    <option value="active" {% if post.0.status == 'active' %} selected {% endif %}>Active</option>
                    <option value="deactive" {% if post.0.status == 'deactive' %} selected {% endif %}>Deactive</option>
                </select>
                <a href="/post-ads/{{ post.0.id }}"><i class="fa fa-pencil"></i></a>
                <a class="ads_post_delete" data-value="{{ post.0.id }}" href="#"><i class="fa fa-trash"></i></a>                        
            </div>
        </div>
    {% endif %}
</div>
{% endfor %}  