{% extends "profile.html" %} 
{% load staticfiles %} 


{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-ads">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" href="/profile/">worldwide<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              <a class="breadcrumb-item" href="#">{{ region.state.country.name }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              <a class="breadcrumb-item" href="#">{{ region.state.name }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              <a class="breadcrumb-item" href="#">{{ region.name }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              {% if category.parent %}
              <a class="breadcrumb-item" href="#">{{ category.parent.name }}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              {% endif %}
              <span class="breadcrumb-item active">{{ category.name }}</span>
            </nav>        
            <h2>Ads List</h2>            
            <div class="ads_search" style="padding-left: 10px; padding-right: 25px;">
                <input type="text" class="search-input ads_search_input" name="ads_search" placeholder="Search for ads name..." style="width: 90%; display: inline;">
                <input type="submit" id="search_ads" class="btn btn-info" value="Search" style="display: inline; float: right; width: 9%; height: 45px; padding: 10px 20px;" />
            </div>
            <div class="ads_list" id="ads_list">
            {% include '_post_list.html' %}            
            </div>
        </div>

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script>
    jQuery(document).ready(function(){                
        jQuery('#search_ads').click(function() {
            search_ads();
        });

        jQuery('.ads_search_input').keypress(function(e) {
            var key = e.which;
            if (key == 13) {
                search_ads();
            }
        });

        function search_ads() {
            var search_val = jQuery('.ads_search_input').val();

            jQuery.ajax({
                type: 'post',
                url: '/search_ads',
                data: {
                    keyword: search_val,
                },
                success: function (data) {
                    jQuery('#ads_list').html(data);
                }
            });                     
        }
    });     
</script>

{% endblock %}