{% extends "profile.html" %} 
{% load staticfiles %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-ads">
        <h3>{{ category.name }}</h3>
        <ul>
            <li><a href="/category-ads-dealer/{{ category.id }}/all">
                All Ads <div>(dealer + by-owner)</div>
            </a></li>
            <li><a href="/category-ads-dealer/{{ category.id }}/owner">
                By Owner Only <div>(private party, no dealers)</div>
            </a></li>
            <li><a href="/category-ads-dealer/{{ category.id }}/dealer">
                By Dealer Only <div>(no private party)</div>
            </a></li>
        </ul>
        </div>

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
{% endblock %}