{% extends "base.html" %}
{% load staticfiles %}

{% block page_body %}
    <div class="block-header">
        <h2></h2>
        
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
        
    </div>
    <div class="card">                       
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <ul>
                        <li>help, faq, abuse, legal</li>
                        <li>avoid scams &nbsp; fraud</li>
                        <li>personal safety tips</li>
                        <li>terms of use</li>
                        <li>privacy policy</li>
                        <li>system status</li>
                        <li></li>
                        <li>about craigslist</li>
                        <li>craigslist open source</li>
                        <li>craigslist blog</li>
                        <li>best-of-craigslist</li>
                        <li>craigslist TV</li>
                        <li>"craigslist joe"</li>
                        <li>craig connects</li>                                        
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        {% for mc in categories %}
                            <div class="col-md-4">
                                <div>{{ mc.0 }}</div>
                                {% for cc in mc.2 %}
                                    {% if mc.1 == 1 %}
                                        <div class="col-md-12">
                                            {{ cc }}
                                        </div>
                                    {% else %}
                                        <div class="col-md-6">
                                            {{ cc }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2">
                    <select style="display: block;">
                        <option>English</option>
                        <option>English</option>
                    </select>
                    <ul>
                        <li>cl worldwide</li>
                        <li>africa</li>
                        <li>americas</li>
                        <li>asia</li>
                        <li>europe</li>
                        <li>middle east</li>
                        <li>oceania</li>                                        
                    </ul>
                </div>
        	</div>
        </div>
    </div>
{% endblock %}