<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Global Board &#8211; View ads from all over the World</title>
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Global Board &raquo; Feed" href="http://globalboard.world/feed/" />
<link rel="alternate" type="application/rss+xml" title="Global Board &raquo; Comments Feed" href="http://globalboard.world/comments/feed/" />

</head>

<body <?php body_class(); ?>>
<div id="page" class="site">
	<div class="site-inner">

		<!-- Header -->
		<header>
			<!-- Header Menu -->
			<div class="header-menu">
				<nav class="navbar">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-brand">
								<?php the_custom_logo(); ?>
							</div>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">

							<?php if ( has_nav_menu( 'primary' ) ) : ?>

								<div id="site-header-menu" class="site-header-menu">
									<?php if ( has_nav_menu( 'primary' ) ) : ?>
										<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="<?php esc_attr_e( 'Primary Menu', 'globoard' ); ?>">
											<?php
											wp_nav_menu( array(
												'theme_location' => 'primary',
												'menu_class'     => 'nav navbar-nav navbar-right',
											) );
											?>
										</nav><!-- .main-navigation -->
									<?php endif; ?>
								</div><!-- .site-header-menu -->
							<?php endif; ?>
						</div>
					</div>
				</nav>
			</div>
			<!-- End Header Menu -->
		</header>
		<!-- End Header -->

		<div id="content" class="site-content">