{% extends "profile.html" %} 
{% load staticfiles %} 

{% block own_css %}
<link rel='stylesheet' id='dropdown-menu-style-css' href='/static/css/my-account.css' type='text/css' media='all' /> 
{% endblock %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-account">
            <ul class="nav nav-pills tabs">
                
                <li class="active"><a class="tab" data-toggle="pill" href="#Profile-full">Profile</a></li>
                <li class="<?php echo ($_REQUEST['isactive'] == 'menu1')? 'active' : '' ; ?>"><a class="tab" data-toggle="pill" href="#menu1">Services</a></li>
                <li class="<?php echo ($_REQUEST['isactive'] == 'menu2')? 'active' : '' ; ?>"><a class="tab" data-toggle="pill" href="#menu2">Balance</a></li>
                <li class="<?php echo ($_REQUEST['isactive'] == 'menu3')? 'active' : '' ; ?>"><a class="tab" data-toggle="pill" href="#menu3">Billing Methods</a></li>
                <li class="<?php echo ($_REQUEST['isactive'] == 'menu4')? 'active' : '' ; ?>"><a class="tab" data-toggle="pill" href="#menu4">Transaction History</a></li>
                <li class="<?php echo ($_REQUEST['isactive'] == 'menu5')? 'active' : '' ; ?>"><a class="tab" data-toggle="pill" href="#menu5">Withdraw</a></li>
            </ul>
            <div class="tab-content">
                <div id="Profile-full" class="tab-pane fade active in">
                    <div class="pages">
                        sdfgsdfg
                        sdfgsdfg
                        sdfgsdfg

                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="pages">
                        12341234
                        1234123412
                        sdfgsdfg

                    </div>
                </div>                
            </div>
        </div>      

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script>

</script>

{% endblock %}