{% extends "profile.html" %} 
{% load socialaccount %}
{% load staticfiles %} 
{% load extra %}

{% block own_css %}
<link rel='stylesheet' id='dropdown-menu-style-css' href='/static/css/my-account.css' type='text/css' media='all' /> 
<link href="/static/star-rating/star-rating.css" rel="stylesheet">
{% endblock %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-account">
            <ul class="nav nav-pills tabs">
                <li class="active"><a class="tab" data-toggle="pill" href="#profile">Profile</a></li>
                <li class=""><a class="tab" data-toggle="pill" href="#balance">ID Verification</a></li>
                <li class=""><a class="tab" data-toggle="pill" href="#resume">Resume</a></li>
                <li class=""><a class="tab" data-toggle="pill" href="#purchase">Purchases</a></li>
            </ul>
            <div class="tab-content">
                <div id="profile" class="tab-pane fade active in">
                    <div class="pages balance">
                        <form class="login form-horizontal" method="POST">
                            {% csrf_token %}
                            {% for _, error in form.errors.items %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group m-t-15">
                                <div class="col-sm-1 col-xs-5 upload-image" style="margin-bottom: 15px;">
                                    <input id="inputfile" type="file" name="files[]" data-maxfilesize="4000000" class="hidden" data-maxuploadfile="20" data-imagequality="0.7">
                                    <input type="hidden" name="uploded_id[]" class="uploded_id" />
                                    <input type="hidden" name="avatar" class="uploded_id1" value="{{ form.avatar.value }}" />
                                    <img src="/static/media/avatar/{{ user.avatar }}" class="avatar" style="width: 100px; height: 100px;">
                                </div>
                                <div class="col-sm-6 col-xs-7">
                                    <a class="btn btn-default upload-avatar" style="margin: 30px 5px 10px 24px;"><i class="fa fa-upload"></i> Upload Avatar</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_login">Username:</label>
                                <div class="col-sm-6">
                                    <input autofocus="autofocus" id="id_email" name="username" type="text" class="form-control" required value="{{ user.username }}" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_login">First Name:</label>
                                <div class="col-sm-6">
                                    <input autofocus="autofocus" id="id_email" name="first_name" type="text" class="form-control" required value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Last Name:</label>
                                <div class="col-sm-6">
                                    <input id="id_password1" name="last_name" type="text" class="input-xlarge form-control" required="" value="{{ user.last_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Gender:</label>
                                <div class="col-sm-6">
                                    <select name="gender" class="input-xlarge form-control" required="">
                                    <option {% if user.gender != 'Female' %}selected{% endif %} value="Male">Male</option>
                                    <option {% if user.gender == 'Female' %}selected{% endif %} value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-t-15">
                                <label class="control-label col-sm-2" for="id_login">E-mail:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input autofocus="autofocus" id="id_email" name="email" type="email" class="form-control" required value="{{ user.email }}">
                                        <span class="input-group-addon">     
                                            <i class="fa fa-check c-green"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Phone:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input id="id_password1" name="phone" type="text" class="input-xlarge form-control phone_number" placeholder="+1 (212) 234 4342" value="{% if user.phone %}{{ user.phone }}{% endif %}">
                                        <span class="input-group-addon sym_phone">     
                                            {% if user.phone_verified %}
                                            <i class="fa fa-check c-green"></i>
                                            {% else %}
                                            <i class="fa fa-square-o" style="width: 14px;"></i>
                                            {% endif %}
                                        </span>
                                    </div>
                                    {% if not user.phone_verified %}
                                        <a class="btn btn-default verify_phone">Verify via SMS</a>
                                        <input type="text" class="hidden input-xlarge form-control verify_code phone" placeholder="6 digits">
                                        <a class="hidden btn btn-default verify_code">Verify</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group m-t-15">
                                <label class="control-label col-sm-2" for="id_login">Payment:</label>
                                <div class="col-sm-6">
                                    {% if stripe %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly="" value="Stripe">
                                        <span class="input-group-addon">     
                                            <i class="fa fa-check c-green"></i>
                                        </span>
                                    </div>
                                    {% else %}
                                    <a href="{% provider_login_url "stripe" process="connect" %}">
                                    <img src="/static/img/stripe.png"></a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Birth Date:</label>
                                <div class="col-sm-6">
                                    <input id="id_dob" name="dob" type="text" class="input-xlarge form-control" required="" value="{% if form.dob.value %}{{ form.dob.value }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Address:</label>
                                <div class="col-sm-6">
                                    <input id="id_password1" name="address" type="text" class="input-xlarge form-control" required="" value="{% if user.address %}{{ user.address }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Description:</label>
                                <div class="col-sm-6">
                                    <textarea name="description" class="input-xlarge form-control">{% if user.description %}{{ user.description }}{% endif %}</textarea>                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_remember">Password:</label>
                                <div class="col-sm-6">
                                    <a class="btn btn-default" href="/accounts/password/change/">Change Password</a>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <button type="submit" class="primaryAction btn btn-success">Save Updates</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="balance" class="tab-pane fade">
                    <div class="pages balance verify_section">
                        {% if not user.v_statue or user.v_statue == 'unverified' %}
                        <input id="ID_file" type="file" name="files[]" data-maxfilesize="4000000" class="hidden" data-maxuploadfile="20" data-imagequality="0.7">
                        <input type="hidden" name="uploded_id[]" class="uploded_id" />
                        <input type="hidden" name="avatar" class="uploded_id1" value="{{ form.avatar.value }}" />

                        <button class="primaryAction btn btn-danger provide_id">Provide ID</button>
                        {% elif user.v_statue == 'awaiting_approve' %}
                        <span class="primaryAction btn btn-warning">Verifing ID</span>
                        {% elif user.v_statue == 'approved' %}
                        <span class="primaryAction btn btn-success">Verified</span>
                        {% endif %}
                    </div>
                </div>       
                <div id="resume" class="tab-pane fade">
                    <div class="pages balance">
                    <div class="col-md-10">
                        <div class="rv-title m-t-15">
                            Reviews ( {{ reviews.count }} ) 
                        </div>
                        <input id="rating-owner" value="{{ user|rating }}"/>
                        <hr>
                        {% for review in reviews %}
                        <div class="review-card row">            
                            <div class="col-sm-2">            
                                <img src="/static/media/avatar/{{ review.rater.avatar }}" class="img-responsive rv-avatar">
                                <div class="rv-rater">{{ review.rater.first_name }}</div>
                            </div>
                            <div class="col-sm-8">
                                <div class="rv-category">{{ review.post.category }}</div>
                                <div class="rv-ptitle">{{ review.post.title }}</div>
                                <div class="rv-content">{{ review.content }}</div>
                                <div class="rv-created">{{ review.created_at }}</div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="purchase" class="tab-pane fade">
                    <div class="pages balance">
                        <div class="rv-title">Pending Purchases</div>
                        <hr>
                        {% for purchase in dpurchases %}
                            <div class="row" style="font-size: 18px;">
                                <div class="col-md-4">{{ purchase.post.title }}</div>
                                <div class="col-md-1">${{ purchase.post.price }}</div>
                                <div class="col-md-3">{{ purchase.created_at }}</div>
                                <div class="col-md-3 pull-right">
                                    <button class="btn btn-primary">Release</button>
                                    <button class="btn btn-warning">Dispute</button>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <div class="rv-title">Finished Purchases</div>
                        {% for purchase in ppurchases %}
                            <div>{{ purchase.post.title }}</div>
                            <div>{{ purchase.type }}</div>
                            <div>${{ purchase.post.price }}</div>
                            <div>{{ purchase.created_at }}</div>
                        {% endfor %}
                    </div>
                </div>                         
            </div>
        </div>      

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script src="/static/star-rating/star-rating.min.js"></script>

<script>
    $('#rating-owner').rating({
        min: 0,
        max: 5,
        step: 0.5,
        size: 'xs',
        showClear: false,
        displayOnly: true
    });

    jQuery(document).ready(function() {
        jQuery("body").on("click", ".upload-avatar", function() {
            jQuery("#inputfile").click();
        });

        jQuery("body").on("click", ".provide_id", function() {
            jQuery("#ID_file").click();
        });

        jQuery("#inputfile").change(function() {
            var fd = new FormData();
            var file = this.files;
            fd.append("images", file[0]);
            fd.append('type', 'avatar');

            jQuery.ajax({
                type: 'POST',
                url: '/upload-image',
                data: fd,
                contentType: false,
                dataType: "json",
                processData: false,
                success: function(response) {
                    jQuery(".upload-image").find('input[class="uploded_id"]').val(response.image_name);
                    jQuery(".upload-image").find('input[class="uploded_id1"]').val(response.image_name);
                    jQuery(".avatar").attr('src', response.image_url);
                }
            });
        });

        jQuery("#ID_file").change(function() {
            var fd = new FormData();
            var file = this.files;
            fd.append("images", file[0]);
            fd.append('type', 'ID');

            jQuery.ajax({
                type: 'POST',
                url: '/upload-image',
                data: fd,
                contentType: false,
                dataType: "json",
                processData: false,
                success: function(response) {
                    jQuery.ajax({
                        type: 'post',
                        url: '/upload_id',
                        data: {
                            id_photo: response.image_name
                        },
                        success: function(res) {
                            jQuery(".verify_section").html('<span class="primaryAction btn btn-warning">Verifing ID</span>');
                        }
                    });            

                }
            });
        });

        $('.verify_phone').click(function() {
            var phone_number = $('.phone_number').val();
            if (!phone_number) {
                alert('Enter phone number!');
                $('.phone_number').focus();
                return false;
            }

            jQuery.ajax({
                type: 'post',
                url: '/send_vcode',
                data: {
                    phone: phone_number
                },
                success: function(res) {
                    if (res == 'success') {
                        $('.verify_code').toggleClass('hidden');
                        $('.verify_phone').toggleClass('hidden');                        
                    } else {
                        alert('Please input correct phone number!');
                        $('.phone_number').focus();
                    }
                }
            });            

        });

        $('.btn.verify_code').click(function() {
            var vcode = $('.verify_code.phone').val();
            if (!vcode) {
                alert('Put 6 digits verification code.');
                $('.verify_code.phone').focus();
                return false;
            }

            jQuery.ajax({
                type: 'post',
                url: '/verify_phone',
                data: {
                    vcode: vcode
                },
                success: function(res) {
                    if (res == 'success') {
                        $('.verify_code').toggleClass('hidden');
                        $('.sym_phone').html('<i class="fa fa-check c-green"></i>');
                    } else {
                        alert('Verification failed!');
                    }
                }
            });            
        });

        $('#id_dob').datetimepicker({
            format: 'MM/DD/YYYY'
        });
    });
</script>

{% endblock %}