{% extends "profile.html" %} 
{% load staticfiles %} 

{% block own_css %}
<link rel='stylesheet' id='dropdown-menu-style-css' href='/static/css/my-account.css' type='text/css' media='all' /> 
{% endblock %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-account">
            <ul class="nav nav-pills tabs">
                <li class="active"><a class="tab" data-toggle="pill" href="#profile">Profile</a></li>
                <li class=""><a class="tab" data-toggle="pill" href="#balance">Balance</a></li>
            </ul>
            <div class="tab-content">
                <div id="profile" class="tab-pane fade active in">
                    <div class="pages balance">
                        <form class="login form-horizontal" method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {% for _, error in form.errors.items %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group m-t-15">
                                <label class="control-label col-sm-2" for="id_login">Username:</label>
                                <div class="col-sm-6">
                                    <input autofocus="autofocus" id="id_email" name="username" type="text" class="form-control" required value="{{ user.username }}">
                                </div>
                            </div>
                            <div class="form-group m-t-15">
                                <label class="control-label col-sm-2" for="id_login">First Name:</label>
                                <div class="col-sm-6">
                                    <input autofocus="autofocus" id="id_email" name="first_name" type="text" class="form-control" required value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Last Name:</label>
                                <div class="col-sm-6">
                                    <input id="id_password1" name="last_name" type="text" class="input-xlarge form-control" required="" value="{{ user.last_name }}">
                                </div>
                            </div>
                            <div class="form-group m-t-15">
                                <label class="control-label col-sm-2" for="id_login">E-mail:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input autofocus="autofocus" id="id_email" name="email" type="email" class="form-control" required value="{{ user.email }}">
                                        <span class="input-group-addon">     
                                            <i class="fa fa-check c-green"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Phone:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input id="id_password1" name="phone" type="text" class="input-xlarge form-control" required="" value="{{ profile.phone }}">
                                        <span class="input-group-addon">     
                                            {% if profile.phone_verified %}
                                            <i class="fa fa-check c-green"></i>
                                            {% else %}
                                            <i class="fa fa-square-o" style="width: 14px;"></i>
                                            {% endif %}
                                        </span>
                                    </div>
                                    {% if not profile.phone_verified %}
                                        <button class="btn btn-default" style="margin-top: 8px;">Verify</button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">Birth Date:</label>
                                <div class="col-sm-6">
                                    <input id="id_password1" name="dob" type="date" class="input-xlarge form-control" required="" value="{{ user.dob }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_remember">Password:</label>
                                <div class="col-sm-6">
                                    <button class="btn btn-default">Change Password</button>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <button type="submit" class="primaryAction btn btn-success">Save Updates</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="balance" class="tab-pane fade">
                    <div class="pages balance">
                        <form action="#" method="post">
                            <textarea name="user_status" class="form-control" rows="3"></textarea>
                            <input type="hidden" name="action" value="setStatus"  />
                            <input type="button" class="btn btn-info strong-btn" value="Submit"  />
                        </form>
                        <span>Status : Normal placeholder</span>
                    </div>
                </div>                
            </div>
        </div>      

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script>

</script>

{% endblock %}