{% extends "profile.html" %} 
{% load staticfiles %} 


{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-ads">
            <h2>Subscribe List</h2>            
            <div class="col-md-9 ads_search search">
                <input type="text" class="search-input ads_search_input" name="ads_search" placeholder="Search for ads name...">
            </div>
            <div class="col-md-1 ads_search no-padding">
                <input type="submit" id="search_ads" class="btn btn-info" value="Search">
            </div>
            <div class="col-md-2 ads_search">
                <input type="submit" id="search_ads" class="btn btn-info" value="Subscribe to Search">
            </div>
            <div class="ads_list" id="ads_list">
            {% for search in searches %}            
                <div class="col-md-4">
                    {{ search.keyword }}
                </div>
                <div class="col-md-4">
                    {{ search.category.name }}
                </div>
                <div class="col-md-4">
                    {% if search.city %}
                        {{ search.city.name }}
                    {% else %}
                        {{ search.state.name }}
                    {% endif %}
                </div>                
            {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script>
     
</script>

{% endblock %}