{% extends "profile.html" %} 
{% load staticfiles %} 


{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-ads">
            <h2 style="color: #5bc0de;">My Subscription List</h2>            
            <div class="ads_list" id="ads_list">
                <table class="table table-striped">
                    <thead>
                      <tr style="color: #5bc0de;">
                        <th>Keyword</th>
                        <th>Category</th>
                        <th>Region</th>
                        <th>Created_at</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if searches %}
                    {% for search in searches %}            
                    <tr>
                        <td>
                            {% if search.keyword %}
                            {{ search.keyword }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if search.category %}
                            {{ search.category.name }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if search.city %}
                                {{ search.city.state.country.name }} / {{ search.city.state.name }} / {{ search.city.name }}
                            {% else %}
                                {{ search.state.country.name }} / {{ search.state.name }}
                            {% endif %}
                        </td>                
                        <td>
                            {{ search.created_at }}
                        </td>
                        <td><a href="#" class="remove-subscription" data-id="{{ search.id }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="4">No subscription</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script>
$('.remove-subscription').click(function() {
    var r = confirm("Do you confirm to delete?");
    if (r == true) {
        var id = $(this).data('id');
        jQuery.ajax({
            type: 'post',
            url: '/remove-subscribe',
            data: {
                sub_id: id,
            },
            success: function(data) {
                location.reload();
            }
        });    
    }
});
</script>

{% endblock %}