{% extends "profile.html" %} 
{% load staticfiles %} 


{% block own_css %}
<!-- <link rel='stylesheet' href='/static/tinymce/tinymce.css' type='text/css' media='all' />  -->
{% endblock %} 

{% block right_content %}
<!-- Content Right Content -->

<div class="col-sm-12 full-h">

    <div class="content-right-content my-ads">
        <h2>Post a Campaign</h2>
        <div class="pages">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}               

                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group edit-profile">
                                <label>Title</label>
                                <input type="text" name="title" class="form-control edit-post-wrap" value="{{ post.title }}" required/>
                            </div>
                            <div class="form-group edit-profile">
                                <label>Tagline</label>
                                <input type="text" name="tagline" class="form-control edit-post-wrap" value="{{ post.title }}" required/>
                            </div>

                            <div class="form-group edit-profile">
                                <label>Overview</label>
                                <textarea name="overview" class="form-control edit-post-wrap" required="">
                                    {{ post.content }}
                                </textarea>
                            </div>
                            <div class="form-group edit-profile">
                                <label>Overview Image</label>
                            </div>
                            <div class="col-md-8 no-padding">                                
                                <input type="file" name="title" id="overview_img" class="form-control edit-post-wrap hidden" required/>
                                <img id="overview_img_preview" class="img-thumbnail img-responsive" src="/static/img/fill.png">
                            </div>

                            <div class="form-group edit-profile m-t-25">
                                <label>Category</label>

                                <div class="category-select-wrap-full">
                                    <select id="camp_category" name="category" class="form-control edit-post-wrap category-select-wrap" required>
                                        {% if post.id %}
                                            <option value="{{ post.category.parent.id }}"> {{ post.category.parent.name }} </option>
                                        {% else %}
                                            {% for mc in categories %}
                                            <option {% if not mc.parent %}disabled class="main"{% endif %} value="{{ mc.id }}" {% if mc.id == post.category.parent_id %}selected{% endif %}>{{ mc.name }}</option>
                                            {% endfor %}                                        
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group edit-profile">
                                <label>Location</label>
                                <input type="text" name="location" class="form-control edit-post-wrap" value="{{ post.title }}" required/>
                            </div>
                            <div class="form-group edit-profile">
                                <label>Budget (in USD)</label>
                                <input type="number" name="budget" class="form-control edit-post-wrap" value="{{ post.title }}" required/>
                            </div>
                            <div class="form-group edit-profile">
                                <label>Duration</label>
                                <input type="number" name="duration" class="form-control edit-post-wrap" value="{{ post.title }}" required/>
                            </div>

                            <div class="form-group edit-profile m-t-25">
                                <label>Stage</label>

                                <div class="category-select-wrap-full">
                                    <select id="camp_category" name="stage" class="form-control edit-post-wrap category-select-wrap" required>
                                    <option value="concept">CONCEPT</option>
                                    <option value="prototype">PROTOTYPE</option>
                                    <option value="production">PRODUCTION</option>
                                    <option value="shipping">SHIPPING</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group edit-profile">
                                <label>Content</label>
                                <textarea name="content" id="wys_content" class="form-control edit-post-wrap" required="">
                                    {% if post.content %}
                                    {{ post.content }}
                                    {% else %}
                                        {% include "_camp_pitch_template.html" %}
                                    {% endif %}
                                </textarea>
                            </div>

                            <div class="form-group edit-profile m-t-15">
                                <label class=" edit-profile">Video URL (Youtube or Vimeo)</label>
                                <input type="url" name="duration" class="edit-post-wrap col-md-10 col-xs-12" value="{{ post.title }}" placeholder="www.youtube.com/wa=zKkUN-mJQ" required style="margin-top: -8px;" />
                                <button class="btn btn-danger col-md-2 col-xs-12"> Add Video </button>
                            </div>

                            <div id="ads_details">
                            <iframe src="https://www.youtube.com/embed/zKkUN-mJtPQ" class="col-md-8 no-padding" height="350" frameborder="0" allowfullscreen="allowfullscreen" id="player_4"></iframe>
                            </div>

                            <input type="hidden" name="owner" value="{{ user.id }}">
                            <div class="form-group edit-profile">
                                <ul id="loaded-files" class="upload-image-thumbs upload-image-ul">
                                    {% for image in images %}
                                    <li class="upload-placeholder">
                                        <div class="uploadedImg">
                                            <i class="fa fa-times close_img"></i>
                                            <img class="image-responsive" src="/static/media/{{ image.name }}" >
                                        </div>
                                        <input type="hidden" name="uploded_id[]" value="{{ image.name }}" class="uploded_id" />
                                    </li>
                                    {% endfor %}
                                    <li class="upload-placeholder upload-image">
                                        <div class="uploadedImg"></div>
                                        <input type="hidden" name="uploded_id[]" class="uploded_id" />
                                    </li>
                                </ul>
                                <div style="display:none;" id="upload_btn" class="upload_btn button button-primary">
                                    Add pictures
                                    <input id="inputfile" type="file" name="files[]" data-maxfilesize="4000000" class="" data-maxuploadfile="20" data-imagequality="0.7" multiple="multiple">
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="edit-profile">
                                <div class="userpro-column">
                                    <div class="userpro-field userpro-field-compact">
                                        <div class="userpro-input">

                                            <div class="userpro-checkbox-wrap">
                                                <label class="userpro-checkbox hide-field">
                                                    <span class="checked"></span>
                                                    <input name="rememberm" id="" value="true" type="checkbox" checked="checked">i accept <a href="#">terms & service</a></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group price-note" style="display: none;">
                                <div class="col-sm-52">
                                    <a id="customButton" class="btn btn-info update-btn">Pay with Card</a>      
                                </div>
                            </div>        

                            <div class="form-group edit-profile">
                                <input type="submit" class="btn btn-info update-btn" value="Submit" />
                                <input class="btn btn-info post-add-btn-cancel" id="cancel" value="cancel" type="button">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<!-- End Content Right Content -->
{% endblock %}

{% block own_js %}
<script src="/static/tinymce/tinymce.min.js"></script>
<script>
    jQuery(document).ready(function() {
        $('#cancel').click(function() {
            window.location.href = '/my-ads/';
        });

    }); 

    jQuery("body").on("click", ".userpro-checkbox span", function() {
        $(this).toggleClass('checked');
    }); 

    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#overview_img_preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#overview_img").change(function() {
        readURL(this);
    });    

    jQuery("body").on("click", "#overview_img_preview", function() {
        jQuery("#overview_img").click();
    });

    tinymce.init({ 
        selector:'#wys_content',
        menubar: false,
        height: 300,
        content_css : '/static/tinymce/tinymce.css',
        plugins: [
          'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
          'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
          'save table contextmenu directionality emoticons template paste textcolor'
        ]
    });

    function getId(url) {
        var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        var match = url.match(regExp);

        if (match && match[2].length == 11) {
            return match[2];
        } else {
            return 'error';
        }
    }    
</script>

{% endblock %}