{% extends "profile.html" %} 
{% load staticfiles %} 


{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">

        <div class="content-right-content my-ads">
            <nav class="breadcrumb">                                        
            {% autoescape off %}{{ breadcrumb }}{% endautoescape %}
            </nav>

            <h2>Ads List</h2>            
            <div class="col-md-8 ads_search search">
                <input type="text" class="search-input ads_search_input" name="ads_search" placeholder="Search for ads name...">
            </div>
            <div class="col-md-2 ads_search">
                <input type="submit" id="search_ads" class="btn btn-info" value="Search">
            </div>
            <div class="col-md-2 ads_search">
                <input type="submit" id="search_ads" class="btn btn-info" value="Subscribe to Search">
            </div>
            <div class="ads_list" id="ads_list">
            {% include '_post_list.html' %}            
            </div>
        </div>

    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}
<script>
    jQuery(document).ready(function(){                
        jQuery('#search_ads').click(function() {
            search_ads();
        });

        jQuery('.ads_search_input').keypress(function(e) {
            var key = e.which;
            if (key == 13) {
                search_ads();
            }
        });

        function search_ads() {
            var search_val = jQuery('.ads_search_input').val();

            jQuery.ajax({
                type: 'post',
                url: '/search_ads_all',
                data: {
                    keyword: search_val,
                    others: true
                },
                success: function (data) {
                    jQuery('#ads_list').html(data);
                }
            });                     
        }
    });  

    $("body").on('click', 'a.breadcrumb-item', function() {
        location.href = '/profile#' + $(this).data('mapname');
    });

</script>

{% endblock %}