{% extends "index.html" %} 
{% load staticfiles %} 

{% block extra_css %} 
    <link rel='stylesheet' href='/static/css/with-map.css' type='text/css' />
{% endblock %}


{% block meta_main %}
<div class="title_page">Terms of use</div>
<div class="col-xs-12">
<div class="content"><div style="text-align: justify;">Global Board is a platform for finding goods and services from anywhere around the world.  You can browse on your own or sign up to receive notifications about the products and services of interest.  By using this platform as a mediator for conducting business, you agree to these terms of use. Use: The advertisement content on Global Board is the sole responsibility of the entity that posts.  We do reserve the right to remove or refuse to display content that we reasonably believe violates the law or is otherwise inappropriate.</div>
<div style="text-align: justify;">However, please do not assume that we review content posted on our site. Providers and buyers must comply with local laws and regulations including any export and re-export control laws and regulations, taxes, tariffs or duties where applicable. Global Board is NOT responsible for the condition of products or quality of services acquired through our servers and website.
</div>
</div>
</div>
{% endblock %}