{% extends "profile.html" %} 
{% load staticfiles %} 

{% block own_css %}
<link rel='stylesheet' id='dropdown-menu-style-css' href='/static/css/my-account.css' type='text/css' media='all' /> 
{% endblock %} 

{% block right_content %}
    <!-- Content Right Content -->

    <div class="col-sm-12 full-h">
        <div class="content-right-content my-account">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 m-t-25">
                <div class="col-md-3">
                    <img src="/static/media/avatar/{{ host.avatar }}" class="avatar img-responsive">
                    <div class="panel panel-success" style="margin: 12px;">
                        <div class="panel-heading">Verified Info</div>
                        <div class="panel-body">
                            <div class="ht-verify">Government ID <i class="fa fa-check-circle-o c-green pull-right"></i></div>
                            <div class="ht-verify">Email address <i class="fa fa-check-circle-o c-grey pull-right"></i></div>
                            <div class="ht-verify">Phone number <i class="fa fa-check-circle-o c-green pull-right"></i></div>                      
                        </div>
                    </div>                                        
                </div>
                <div class="col-md-8">
                    <div class="su-title">Hey, I'm {{ host.first_name }} {{ host.last_name}}</div>
                    <div class="su-joined">Joined at {{ host.date_joined }}</div>
                    <div class="su-desc">{{ host.description }}</div>

                    <div class="rv-title m-t-15">Reviews ( {{ reviews.count }} )</div>
                    <hr>
                    {% for review in reviews %}
                    <div class="review-card row">            
                        <div class="col-sm-3">            
                            <img src="/static/media/avatar/{{ review.rater.avatar }}" class="img-responsive rv-avatar">
                            <div class="rv-rater">{{ review.rater.first_name }}</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="rv-content">{{ review.content }}</div>
                            <div class="rv-created">{{ review.created_at }}</div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>      
    </div>
{% endblock %}

{% block load_highcharts_js %}
{% endblock %}

{% block own_js %}


{% endblock %}