<div class="row">
    <div class="col-md-12">
        <div class="form-group edit-profile">
            <label>employment type</label>
            <select name="employment_type" class="form-control edit-post-wrap" required>
                <option value="">---------</option>
                <option value="full-time">full-time</option>
                <option value="part-time">part-time</option>
                <option value="contract">contract</option>
                <option value="employee's choice">employee's choice</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group edit-profile">
            <label>compensation</label>
            <input type="text" name="compensation" class="form-control edit-post-wrap" placeholder="describe in detail as much as possible" required/>
        </div>
    </div>
    <div class="col-md-6" style="margin-bottom: 15px;">
        <div class="userpro-input">
            <div class="userpro-checkbox-wrap">
                <label class="userpro-checkbox hide-field">
                    <span class="checked" onclick="$(this).toggleClass('checked')"></span>
                    <input name="direct_contact_by_recruiters_is_okay" type="checkbox">Direct contact by recruiters is okay</label>
            </div>
        </div>
    </div>    
    <div class="col-md-6" style="margin-bottom: 15px;">
        <div class="userpro-input">
            <div class="userpro-checkbox-wrap">
                <label class="userpro-checkbox hide-field">
                    <span class="checked" onclick="$(this).toggleClass('checked')"></span>
                    <input name="internship" type="checkbox">Internship</label>
            </div>
        </div>
    </div>           
    <div class="col-md-6" style="margin-bottom: 27px;">
        <div class="userpro-input">
            <div class="userpro-checkbox-wrap">
                <label class="userpro-checkbox hide-field">
                    <span class="checked" onclick="$(this).toggleClass('checked')"></span>
                    <input name="non_profit_organization" type="checkbox">Non profit organization</label>
            </div>
        </div>
    </div>         
    <div class="col-md-6" style="margin-bottom: 27px;">
        <div class="userpro-input">
            <div class="userpro-checkbox-wrap">
                <label class="userpro-checkbox hide-field">
                    <span class="checked" onclick="$(this).toggleClass('checked')"></span>
                    <input name="telecommuting_okay" type="checkbox">Telecommuting okay</label>
            </div>
        </div>
    </div> 
              

</div>
