<div class="row">     
    <div class="col-md-6">
        <div class="form-group edit-profile">
            <label>garage sale dates</label>
            <input type="email" class="form-control edit-post-wrap" id="inputEmail3" name="sale_date1">
            <input type="email" class="form-control edit-post-wrap" id="inputEmail3" name="sale_date2">
            <input type="email" class="form-control edit-post-wrap" id="inputEmail3" name="sale_date3">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group edit-profile">
            <label>start time</label>
            <input type="email" class="form-control edit-post-wrap" id="inputEmail31" name="start_time">
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <div class="form-group edit-profile">
            <label>language of posting</label>
            <select name="language" class="form-control edit-post-wrap" required>
                <option>English</option>
                <option>Spain</option>
            </select>
        </div>
    </div>
    <div class="col-md-6" style="padding-top: 10px;">
        <div class="userpro-input">
            <div class="userpro-checkbox-wrap">
                <label class="userpro-checkbox hide-field">
                    <span class="checked" onclick="$(this).toggleClass('checked')"></span>
                    <input name="include_ads" type="checkbox">include "more ads by this user" link</label>
            </div>
        </div>
    </div>
    
</div>
